<!--<p id="notice"><%#= notice %></p>-->

    <div class="row">
      <div class="col-xs-12">
        <div class="locationbox">
          <p>Finding buses near...</p> 
          <h4><%= @location.address %></h4>
        </div><!--box-gray-->
      </div><!--col-->
    </div><!--row-->

  <% if @bus_count == 0 %>
   <p>There are no buses near you. You may want to consider another form of transportation.</p>

<% else %>
<table class="table">
 <% @nearby_buses.order("bus.ROUTE").each do |bus| %>
    <tr>
      <td><p class="fa fa-bus fa-2x"></p></td>
      <td><p class="busnumber"><%= bus["VEHICLE"] %></p>
      <p class="busroute"><%= bus["ROUTE"] %> Route</td>
      <td><p>Approaching the <%= bus["TIMEPOINT"] %> stop, heading <%= bus["DIRECTION"] %></p></td> 
     </tr>
 <% end %>
<% end %>
</table>

<center><%= link_to 'New Search', root_url, class: "btn btn-success btn-md" %></center>
