<!--<p id="notice"><%#= notice %></p>-->

    <div class="row">
      <div class="col-xs-12">
        <div class="box-gray">
          <p>Buses Near...</p> 
          <p class="yourlocation"><%= @location.my_location %></p>
        </div><!--box-gray-->
      </div><!--col-->
    </div><!--row-->

  <% if @bus_count == 0 %>
   <p>There are no buses near you. You may want to consider another form of transportation.</p>

<% else %>
<table class="table">
 <% @nearby_buses.each do |bus| %>
    <tr>
      <td class="fa fa-bus fa-2x"><p></p></td>
      <td><p class="busnumber"><%= bus["VEHICLE"] %></p>
      <p class="busroute"><%= bus["ROUTE"] %> Route</td>
      <td><p>Approaching the <%= bus["TIMEPOINT"] %> stop, heading <%= bus["DIRECTION"] %></p></td> 
     </tr>
 <% end %>
<% end %>
</table>

<%= link_to 'New Search', root_url, class: "btn btn-success btn-md" %>
